############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Node.js
############################

node_modules

############################
# Test
############################

coverage

############################
# Package Manager
############################

pnpm-lock.yaml
yarn.lock
npm-debug.log
package-lock.json
