############################
# OS X
############################

.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

############################
# Node.js
############################

node_modules

############################
# Test
############################

coverage

############################
# Build
############################

dist